/***********
 * IMPORTS *
 ***********/

/* Font */
@import url("modules/font.css");

/* Material Icons */
@import url("modules/material_icons.css");

/* Links */
@import url("modules/links.css");

/* Buttons */
@import url("modules/buttons.css");

/* Tooltips */
@import url("modules/tooltip.css");









/*************
 * SANITIZER *
 *************/
*, *::before, *::after { box-sizing: border-box; border: none; background-repeat: no-repeat; }
html { font-family: "Roboto", sans-serif; word-break: break-word; scroll-behavior: smooth; }
body { margin: 0; padding:0; }
img {max-width: 100%;}
ul,ol { list-style: none;padding-left:0;}
ul li, ol li { margin: 10px 0 10px 0; }
ul li .material-icons, ol li .material-icons { vertical-align: middle;}











/****************
 * THEME COLORS *
 ****************/
.primary-color { color: #0D4409; }
.accent-color { color: #267D16; }













/*****************
 * APP CONTAINER *
 *****************/
.app-container {

}









/***************
 * HEADING NAV *
 ***************/
.heading-nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 75px;
}

.heading-nav img { 
    width: 250px;
    height:auto;
}


/* Nav Links */
.heading-nav .nav-links {
    margin: 0 0 0 auto;
}

.heading-nav .nav-links a {
    margin: 0 30px 0 30px;
    font-size:15px;
    font-weight:600;
}
.heading-nav .nav-links a:first-child { margin-left: 0 }
.heading-nav .nav-links a:last-child { margin-right: 0 }


/* Mobile Dropdown Menu */
.dropdown-menu {
    position: relative;
    display: none;
    margin-left: auto;
}
.dropdown-menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0px;
}
.dropdown-menu-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
}
.dropdown-menu-content a > .material-icons { margin-right: 5px; }
.dropdown-menu-content a:hover { background-color: #f1f1f1 }
.visible-dropdown-menu-content { display: block; }
/*.dropdown-menu:hover .dropdown-menu-content {
    display: block;
}*/














/**********
 * SPLASH *
 **********/
.splash-container {
    width: 100%;
    height: 600px;
    background-image: url(../assets/img/splash.jpg);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.splash-container .splash-content {
    width: 100%;
    height:100%;
    padding:10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
}
.splash-container .splash-content .splash-headline { font-size: 36px;font-weight: 700; }
.splash-container .splash-content .splash-subtitle { font-size: 24px;font-weight: 500;margin-top:15px; }
.splash-container .splash-content .filled-button { margin-top: 15px; }















/************
 * ABOUT US *
 ************/
.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 60px 75px;
}
.about-us .about-us-subtitle { 
    color: #0D4409;
    font-weight:600;
}
.about-us .about-us-description {
    flex: 1;
}
.about-us .about-us-actions {  }
.about-us .about-us-actions a:first-child { margin-right: 15px;}
.about-us .about-us-actions.desktop-actions { margin-top: 30px; }
.about-us .about-us-actions.mobile-actions { display:none; margin-top: 15px; }
.about-us .about-us-collage {
    flex: 1;
    text-align: right;
}


















/************
 * PROGRAMS *
 ************/
.programs {
    background-color: #f7f7f7;
    padding: 60px 75px;
}
.programs .programs-header {
    text-align: center;
}
.programs .programs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.programs .programs-container .program-card {
    max-width: 300px;
    border: 1px solid #c4b7b7;
    margin:30px;
    padding: 15px;
    flex: 1;
    text-align: center;
}
.programs .programs-container .program-card ul {
    text-align: left;
}
.programs .programs-container .program-card:hover {
    border: 1px solid white;
    background-color: white;
    color: #0D4409;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.programs .bottom-text {
    font-size:14px;
    text-align: center;
}












/**********
 * FOOTER *
 **********/
.footer {
    padding: 15px 5px;
    text-align: center;
    background-color: #0D4409;
    color:white;
}
.footer a:hover { 
    color:#267D16;
    font-weight: 600;
}


















/****************************
 * RESPONSIVE MEDIA QUERIES *
 ****************************/


/*
 * DEVICE: Desktops
 * SCREEN: 1281px to higher resolution desktops
 */
@media (min-width: 1281px) {



}


/*
 * DEVICE: Laptops, Desktops
 * SCREEN: B/w 1025px to 1280px
 */
@media (min-width: 1025px) and (max-width: 1280px) {
    /***************
    * HEADING NAV *
    ***************/

    /* Nav Links */
    .heading-nav .nav-links a { margin: 0 15px 0 15px; }

    /* Mobile Dropdown Menu */
    .dropdown-menu { display: none;}


    /************
     * ABOUT US *
     ************/
    .about-us .about-us-actions.desktop-actions { margin-top: 15px; }
}


/*
 * DEVICE: Tablets, Ipads (portrait)
 * SCREEN: B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) {
    /***************
    * HEADING NAV *
    ***************/
    .heading-nav { padding: 10px; }
    .heading-nav img {  width: 160px;  }

    /* Nav Links */
    .heading-nav .nav-links a { margin: 0 15px 0 15px; }


    /************
     * ABOUT US *
     ************/
    .about-us {  flex-direction: column; padding: 60px 15px; }
    .about-us h1 {  text-align: center; }
    .about-us .about-us-actions.mobile-actions { display:block }
    .about-us .about-us-actions.desktop-actions { display:none }
    .about-us .about-us-collage { text-align: center; }


    /************
    * PROGRAMS *
    ************/
    .programs { padding: 60px 15px; }
    .programs .programs-container {
        flex-direction: column;
        align-items: center;
    }
    .programs .programs-container .program-card { width: 100%; } 
}


/*
 * DEVICE: Tablets, Ipads (landscape)
 * SCREEN: B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /***************
    * HEADING NAV *
    ***************/
    .heading-nav { padding: 10px; }
    .heading-nav img {  width: 160px; }

    /* Nav Links */
    .heading-nav .nav-links a { margin: 0 15px 0 15px; }



    /************
     * ABOUT US *
     ************/
    .about-us {  flex-direction: column; padding: 60px 15px; }
    .about-us h1 {  text-align: center; }
    .about-us .about-us-actions.mobile-actions { display:block }
    .about-us .about-us-actions.desktop-actions { display:none }
    .about-us .about-us-collage { text-align: center; }


    /************
    * PROGRAMS *
    ************/
    .programs { padding: 60px 15px; }
    .programs .programs-container {
        flex-direction: column;
        align-items: center;
    }
    .programs .programs-container .program-card { width: 100%; } 
}


/*
 * DEVICE: Low Resolution Tablets, Mobiles (Landscape)
 * SCREEN: B/w 481px to 767px
 */
@media (min-width: 481px) and (max-width: 767px) {
    /***************
    * HEADING NAV *
    ***************/
    .heading-nav { padding: 10px; }
    .heading-nav img {  width: 160px; }

    /* Nav Links */
    .heading-nav .nav-links { display: none;}

    /* Mobile Dropdown Menu */
    .dropdown-menu { display: inline-block; }
    



    /**********
    * SPLASH *
    **********/
    .splash-container { height: 350px; }
    .splash-container .splash-content .splash-headline { font-size: 30px; }
    .splash-container .splash-content .splash-subtitle { font-size: 20px; }




    /************
     * ABOUT US *
     ************/
    .about-us {  flex-direction: column; padding: 60px 15px; }
    .about-us h1 {  text-align: center; }
    .about-us .about-us-actions.mobile-actions { display:block }
    .about-us .about-us-actions.desktop-actions { display:none }
    .about-us .about-us-collage { text-align: center; }


    /************
    * PROGRAMS *
    ************/
    .programs { padding: 60px 15px; }
    .programs .programs-container {
        flex-direction: column;
        align-items: center;
    }
    .programs .programs-container .program-card { width: 100%; } 
}


/*
 * DEVICE: Most of the Smartphones Mobiles (Portrait)
 * SCREEN: 480px to lower resolution mobiles
 */
@media (max-width: 480px) {
    /***************
    * HEADING NAV *
    ***************/
    .heading-nav { padding: 10px; }
    .heading-nav img {  width: 160px; }

    /* Nav Links */
    .heading-nav .nav-links { display: none;}

    /* Mobile Dropdown Menu */
    .dropdown-menu { display: inline-block; }


    /**********
    * SPLASH *
    **********/
    .splash-container { height: 350px; }
    .splash-container .splash-content .splash-headline { font-size: 30px; }
    .splash-container .splash-content .splash-subtitle { font-size: 20px; }


    /************
     * ABOUT US *
     ************/
    .about-us {  flex-direction: column; padding: 60px 15px; }
    .about-us h1 {  text-align: center; }
    .about-us .about-us-actions.mobile-actions { display:block }
    .about-us .about-us-actions.desktop-actions { display:none }
    .about-us .about-us-collage { text-align: center; }


    /************
    * PROGRAMS *
    ************/
    .programs { padding: 60px 15px; }
    .programs .programs-container {
        flex-direction: column;
        align-items: center;
    }
    .programs .programs-container .program-card { width: 100%; } 
}